.page1 {
    background: url('image/1.jpg') no-repeat;
    background-size: cover;
}

.page1 img {
    position: absolute;
}
.one{text-align: inherit;
     color: salmon;
     font-size: xx-large;}

.page1 img:nth-of-type(1) {
    width: 3rem;
    height: 4rem;
    left: .2rem;
    bottom: 5rem;
}

.page1 img:nth-of-type(2) {
    width: 3rem;
    height: 4rem;
    left: 3.5rem;
    bottom: 9.1rem;}


/* ==PAGE2== */
.page2 {
    background: url('image/2.jpg') no-repeat;
    background-size: cover;
}

.page2 img {
    position: absolute;
}
.page2 img:nth-of-type(1) {
    width: 2.7rem;
    height: 4.6rem;
    left: .3rem;
    bottom: 4.5rem;}
.page2 img:nth-of-type(2) {
    width: 4.5rem;
    height: 3rem;
    left: 1.5rem;
    bottom: .8rem;}
.page2 img:nth-of-type(3) {
    width: 2.7rem;
    height: 4.6rem;
    left: 4.5rem;
    bottom: 4.5rem;}
.page2 img:nth-of-type(4) {
    width: 4.5rem;
    height: 3rem;
    left: 1.5rem;
    bottom: 9.7rem;}
                    



.page3 {
    background: url('image/3.00.jpg') no-repeat;
    background-size: cover;
}

.page3 img {
    position: absolute;
}
.page3 img:nth-of-type(1) {
    width: 3rem;
    height: 4.6rem;
    left: .3rem;
    bottom: 8rem;}
.page3 img:nth-of-type(2) {
    width: 3rem;
    height: 4.6rem;
    left: 2rem;
    bottom: 4.35rem;}
.page3 img:nth-of-type(3) {
    width: 3rem;
    height: 4.6rem;
    left: 4.2rem;
    bottom: .5rem;}
.page4 {
    background: url('image/4.00.jpg') no-repeat;
    background-size: cover;
            }
            
    .page4 img {
        position: absolute;
            }
    .page4 img:nth-of-type(1) {
        width: 4.3rem;
        height: 3.8rem;
        left: 2.8rem;
        bottom: 6rem;}
    .page4 img:nth-of-type(2) {
        width: 2.3rem;
        height: 2.5rem;
        left: .4rem;
        bottom: 10.4rem;}
.page5 {
         background: url('image/5.00.jpg') no-repeat;
         background-size: cover;
                    }
                    
.page5 img {
            position: absolute;
                    }
.two{text-align: inherit;
    color: skyblue;
    font-size: xx-large;}
                   
.page6 {
         background: url('image/6.00.jpg') no-repeat;
        background-size: cover;
                                }

.page6 img {
        position: absolute;
                            }
    .page6 img:nth-of-type(1) {
         width: 2.3rem;
         height: 2.5rem;
         left: .4rem;
         bottom: 10.4rem;}